// QUERY ONE
// PLANS AREA MEDIA QUERY
@media (max-width: 1143px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap-reverse;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 3;
            }

            .third {
                order: 2;
            }
        }
    }
}



// QUERY TWO
// FOOTER AREA MEDIA QUERIES
@media(max-width: 900px) {
    #footer {
        .footer-items {
            display: block;
            text-align: center;

            .left {
                margin-bottom: 60px;
            }

            .right {
                padding: 0px;
                text-align: center;

                .address,
                .email,
                .phone {

                    i {
                        margin-right: 1px;
                    }
                }
            }
        }
    }
}


// QUERY THREE
// JOIN AREA MEDIA QUERY
@media (max-width: 780px) {
    #join {
        display: block;
    }
}

// QUERY FOUR
// PLANS AREA MEDIA QUERY
@media (max-width: 773px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 2;
            }

            .third {
                order: 3;
            }
        }
    }
}

// QUERY FIVE
// HEADER AREA MEDIA QUERY
@media (max-width: 670px) {
    #header {
        opacity: 1;
        position: relative;

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .left-nav {
                order: 2;
            }

            .logo {
                order: 1;
            }

            .right-nav {
                order: 3;
            }

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;

                li {
                    margin-bottom: 17px;

                    .vertical-line {
                        display: none;
                    }
                }
            }

            //    Logo Area
            .logo {
                margin-bottom: 15px;
            }
        }
    }

    // Main Area
    #bg-area {
        .bg-text {
            .face {
                font-size: 35px;
            }
        }
    }

    // JOIN AREA MEDIA QUERY
    #join {
        .join-item {
            &:first-child {
                text-align: center;
            }
        }
    }


    // TRAINERS MEDIA QUERY
    #trainers-area {

        .contain {
            padding-top: 80px;

            h3 {
                font-size: 30px;
            }
        }
    }

    // ACCOUNT PAGE MEDIA QUERY
    #account {
        padding: 50px 0 50px;
    }

}

@media (max-width: 400px) {

    // Main Area
    #bg-area {

        .bg-text {

            .move {
                font-size: 15px;
            }

            .intro {
                font-size: 15px;
            }
        }
    }


    // Right side Icons Area
    .icons {
        top: 310px;
        .icon {
            font-size: 15px;
        }
    }

    // 24 Hours Media Query
    #hours {
        h3 {
            font-size: 25px;
        }

    }

    // JOIN AREA STYLING
    #join {
        .join-item {

            // Left Side
            &:first-child {
                text-align: center;

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }

                .btn-long {
                    padding: 10px 0;

                    &:hover {
                        padding: 9px 0;
                    }
                }

                // Lightbox Images
                .row-images {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 30px;
                    justify-content: center;
                    align-items: center;

                    .column-images {
                        flex: 100%;
                        margin: 0;
                        max-width: 100%;

                        .image-contain {
                            margin-top: 20px;
                        }
                    }
                }
            }

            // Right Side
            &:last-child {
                .list-items {

                    li {
                        font-size: 16px;
                    }

                    .per-month {
                        span {
                            &:first-child {
                                left: 28px;
                            }
                        }
                    }
                }
            }
        }
    }


    // PLANS AREA STYLING
    #plans {
        .plans-boxes {
            .plan {
                .btn-small {
                    padding: 10px 16px;
                    font-size: 11px;
                }
            }
        }
    }


    // ACCOUNT PAGE MEDIA QUERY
#account {
    .input-container {
        .facebook {
            a {
                font-size: 12px;

                i {
                    font-size: 18px;
                }
            }
        }

        // Form Area
        .access-form {
            .email-input, .password-input{
                input{
                    font-size: 12px;
                }
            }
            .submit {
                input {
                    font-size: 16px;
                }
            }
        }
    }
}
}


@media(max-width: 362px) {

    // Right Side
    #join {
        .join-item {
            &:last-child {
                .list-items {
                    .per-month {
                        span {
                            &:first-child {
                                left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

}