// QUERY ONE
// PLANS AREA MEDIA QUERY
@media (max-width: 1143px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap-reverse;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 3;
            }

            .third {
                order: 2;
            }
        }
    }
}



// QUERY TWO
// FOOTER AREA MEDIA QUERIES
@media(max-width: 900px) {
    #footer {
        .footer-items {
            display: block;
            text-align: center;

            .left {
                margin-bottom: 60px;
            }

            .right {
                padding: 0px;
                text-align: center;

                .address,
                .email,
                .phone {

                    i {
                        margin-right: 1px;
                    }
                }
            }
        }
    }
}


// QUERY THREE
// JOIN AREA MEDIA QUERY
@media (max-width: 780px) {
    #join {
        display: block;
    }
}

// QUERY FOUR
// PLANS AREA MEDIA QUERY
@media (max-width: 773px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 2;
            }

            .third {
                order: 3;
            }
        }
    }
}

// QUERY FIVE
// HEADER AREA MEDIA QUERY
@media (max-width: 670px) {
    #header {
        opacity: 1;
        position: relative;

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .left-nav {
                order: 2;
            }

            .logo {
                order: 1;
            }

            .right-nav {
                order: 3;
            }

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;

                li {
                    margin-bottom: 17px;

                    .vertical-line {
                        display: none;
                    }
                }
            }

            //    Logo Area
            .logo {
                margin-bottom: 15px;
            }
        }
    }

    // Main Area
    #bg-area {
        .bg-text {
            .face {
                font-size: 35px;
            }
        }
    }

    // JOIN AREA MEDIA QUERY
    #join {
        .join-item {
            &:first-child {
                text-align: center;
            }
        }
    }


    // TRAINERS MEDIA QUERY
    #trainers-area {

        .contain {
            padding-top: 80px;

            h3 {
                font-size: 30px;
            }
        }
    }



    // ACCOUNT PAGE MEDIA QUERY
    #account {
        padding: 50px 0 50px;
    }

    // SIGN UP AREA MEDIA QUERIES
    #sign-up-area {
        .top {
            .holder {
                font-size: 26px;
            }
        }
    
        #sign-up {
            padding: 0px 0 150px;
    
            .contract {
                font-size: 31px;
            }
    
            .sign-up-contain {
                max-width: 450px;
                padding: 0 50px;
    
                h2 {
                    font-size: 20px;
                }
                
                .underline {
                    width: 80px;
                }

                .start {
                    font-size: 15px;
                }
    
                .sign-up-area {
                    .create {
                        label{
                            font-size: 13px;
                        }
                    }
    
                    .gender-header{
                        font-size: 14px;
                        margin-bottom: 5px;
                    }
    
                    .gender {
                        .type {
                            font-size: 14px;
                        }
                    }
    
                    .select {
                        font-size: 15px;
                    }
    
                    .terms {
                        font-size: 13px;
    
                        h4 {
                            font-size: 15px;
                        }
                    }
    
                    .submit {
                        button {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }

    // FOOTER AREA MEDIA QUERY
    #footer {
        // Arrow Icon
        .arrow{
            display: block;
        }
    }

}

// TRAINERS MEDIA QUERY
@media(max-width: 500px) {
    #trainers-area {

        .contain {
            .trainer-box {
                p {
                    padding: 30px;
                }
            }
        }
    }

    // SIGN UP AREA MEDIA QUERIES
    #sign-up-area {
        .top {
            .holder {
                font-size: 20px;
            }
        }
    
        #sign-up {
            padding: 0px 0 150px;
    
            .contract {
                font-size: 27px;
            }
    
            .sign-up-contain {
                max-width: 350px;
                padding: 0 30px;

                .underline {
                    width: 75px;
                }
            }
        }
    }
}

@media (max-width: 400px) {

    // Main Area
    #bg-area {

        .bg-text {

            .move {
                font-size: 15px;
            }

            .intro {
                font-size: 15px;
            }
        }
    }


    // Right side Icons Area
    .icons {
        .icon {
            font-size: 12px;
            padding: 5px 0 5px 5px;
            width: 180px;
            transform: translateX(128px);
        }
    }

    // 24 Hours Media Query
    #hours {
        h3 {
            font-size: 25px;
        }

    }

    // JOIN AREA STYLING
    #join {
        .join-item {

            // Left Side
            &:first-child {
                text-align: center;

                h3 {
                    font-size: 22px;
                }

                p {
                    font-size: 16px;
                }

                .btn-long {
                    padding: 10px 0;

                    &:hover {
                        padding: 9px 0;
                    }
                }

                // Lightbox Images
                .row-images {
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 30px;
                    justify-content: center;
                    align-items: center;

                    .column-images {
                        flex: 100%;
                        margin: 0;
                        max-width: 100%;

                        .image-contain {
                            margin-top: 20px;
                        }
                    }
                }
            }

            // Right Side
            &:last-child {
                .list-items {

                    li {
                        font-size: 16px;
                    }

                    .per-month {
                        span {
                            &:first-child {
                                left: 28px;
                            }
                        }
                    }
                }
            }
        }
    }


    // PLANS AREA STYLING
    #plans {
        .plans-boxes {
            .plan {
                .btn-small {
                    padding: 10px 16px;
                    font-size: 11px;
                }
            }
        }
    }


    // ACCOUNT PAGE MEDIA QUERY
    #account {
        .input-container {
            .facebook {
                a {
                    font-size: 12px;

                    i {
                        font-size: 18px;
                    }
                }
            }

            // Form Area
            .access-form {

                .email-input,
                .password-input {
                    input {
                        font-size: 12px;
                    }
                }

                .submit {
                    input {
                        font-size: 16px;
                    }
                }
            }
        }
    }


    // TRAINER's PAGE MEDIA QUERY
    #trainers-area {
        .contain {
            padding-top: 100px;
            padding-bottom: 200px;

            h3 {
                font-size: 35px;
                margin: 0;
            }

            .trainer-box {
                flex-wrap: wrap;
                align-items: center;
                margin-top: 100px;

                &:nth-child(odd) {
                    flex-direction: column-reverse;
                }

                .trainer {
                    margin-bottom: 25px;
                }



                p {
                    padding: 35px;

                    &:nth-child(odd) {
                        margin-right: 0;
                    }

                    &:nth-child(even) {
                        margin-left: 0;
                    }
                }

                img {
                    display: block;
                }
            }
        }
    }


    // SIGN UP AREA MEDIA QUERIES
    #sign-up-area {
        .top {
            .holder {
                font-size: 16px;
            }
        }
    
        #sign-up {
            padding: 0px 0 150px;
    
            .contract {
                font-size: 23px;
            }
    
            .sign-up-contain {
                max-width: 250px;
                padding: 0 7px;
    
                h2 {
                    font-size: 16px;
                }

                .underline {
                    width: 60px;
                }
    
                .start {
                    font-size: 11px;
                }
    
                .sign-up-area {
                    .create {
                        label{
                            font-size: 10px;
                        }
                    }
    
                    .gender-header{
                        font-size: 10px;
                        margin-bottom: 5px;
                    }
    
                    .gender {
                        .type {
                            font-size: 10px;
                        }
                    }
    
                    .select {
                        font-size: 11px;
                    }
    
                    .terms {
                        font-size: 10px;
    
                        h4 {
                            font-size: 11px;
                        }
                    }
    
                    .submit {
                        button {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }

}


@media(max-width: 362px) {

    // Right Side
    #join {
        .join-item {
            &:last-child {
                .list-items {
                    .per-month {
                        span {
                            &:first-child {
                                left: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

}