// QUERY ONE
// PLANS AREA MEDIA QUERY
@media (max-width: 1143px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap-reverse;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 3;
            }

            .third {
                order: 2;
            }
        }
    }
}



// QUERY TWO
// FOOTER AREA MEDIA QUERIES
@media(max-width: 900px) {
    #footer {
        .footer-items {
            display: block;
            text-align: center;

            .left {
                margin-bottom: 60px;
            }

            .right {
                padding: 0px;
                text-align: center;
            }
        }
    }
}


// QUERY THREE
// JOIN AREA MEDIA QUERY
@media (max-width: 780px) {
    #join {
        display: block;
    }
}

// QUERY FOUR
// PLANS AREA MEDIA QUERY
@media (max-width: 773px) {
    #plans {
        padding: 100px 0;

        .plans-boxes {
            display: flex;
            padding: 20px 0;
            flex-wrap: wrap;

            .first {
                order: 1;
            }

            .second {
                transform: translateY(0);
                order: 2;
            }

            .third {
                order: 3;
            }
        }
    }
}

// QUERY FIVE
// HEADER AREA MEDIA QUERY
@media (max-width: 670px) {
    #header {
        opacity: 1;
        position: relative;

        .header {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .left-nav {
                order: 2;
            }

            .logo {
                order: 1;
            }

            .right-nav {
                order: 3;
            }

            ul {
                display: flex;
                flex-direction: column;
                text-align: center;

                li {
                    margin-bottom: 17px;

                    .vertical-line {
                        display: none;
                    }
                }
            }

            //    Logo Area
            .logo {
                margin-bottom: 15px;
            }
        }
    }
}