// variables
$white: #fff;
$dark-grey: #222;
$blue: #0484E4;
$green: #15AEBF;
$facebook: #3C5997;
$light-grey: #CBCED2;
$input-green: #005257;
$youtube: #FF0000;

// imported scss files
@import 'account';
// @import 'about_us';
// @import 'plans';
// @import 'locations';
// @import 'trainers';
@import 'footer';

// core styling
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color: $white;
    margin-bottom: 0;
    line-height: 1.6;
    height: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: $white;
}

// .current > a{
//     // color: not yet defined:
// }
ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 17px;
    margin: 0 auto;
}









////////////////////////////////////////////////////////////////////////////
// HEADER AREA
#header {
    background-color: $dark-grey;

    .header {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        padding: 5px 0;

        //    Logo Area
        .logo {

            .brand {
                font-size: 50px;
                text-align: center;

                .circle {
                    letter-spacing: 1.5px;
                    text-align: center;

                    i {
                        // color: $blue;
                        color: $green;
                        margin: 0 1px;
                    }

                    font-size: 16px;
                    text-transform: uppercase;
                }
            }
        }

        // Log in Area
        .log-in {
            .link {
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                color: $white;
                // border: 1px solid $white;
                // padding: 10px 20px;
                transition: all 1s cubic-bezier(1, 0.9, 0.3, 1);

                i {
                    padding-right: 5px;
                }

                &:hover {
                    color: $green;
                }
            }
        }
    }
}

// Main Area
#bg-area {
    background: url(../img/bg34.png) no-repeat center center / cover;
    display: block;
    width: 100%;
    height: 100vh;
    color: $white;
    position: relative;
    color: $white;

    * {
        z-index: 1;
    }

    // overlay for lady image
    &::after {
        content: '';
        position: absolute;
        background: rgba(0, 0, 0, 0.6);
        // background: $blue;
        // opacity: 0.4;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    .bg-text {
        // *{
        //     z-index: 1;
        // }
        // z-index: 0.5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
        color: $white;

        .move {
            text-transform: uppercase;
            font-size: 20px;
            // z-index: 1;
        }

        .line {
            background: $green;
            width: 100px;
            height: 3px;
            margin-top: 10px;
            // z-index: 1;
        }

        .intro {
            font-size: 18px;
            text-transform: capitalize;
            margin-top: 90px;
            // z-index: 1;
        }

        .face {
            font-size: 60px;
            text-transform: uppercase;
            margin: 40px 0;
            // z-index: 1;
        }

        .btn-big {
            color: $white;
            background: $green;
            padding: 20px 70px;
            border-radius: 50px;
            font-size: 20px;
            text-transform: uppercase;
            transition: background 1s cubic-bezier(1, 0.6, 0.4, 0.9);

            // z-index: 1;
            &:hover {
                background: $white;
                color: $green;
            }
        }
    }

    // Right side Icons Area
    .icons {
        position: fixed;
        top: 360px;
        right: 0;
        overflow-x: hidden;
        display: block;

        .icon {
            background: rgba(0, 0, 0, 0.6);
            padding: 7px 0 7px 7px;
            font-size: 20px;
            border-radius: 50px 0 0 50px;
            width: 190px;
            transition: 1s transform ease-out;
            transform: translateX(130px);
            overflow-x: hidden;
            display: block;

            &:hover {
                transform: translateX(0px);
                cursor: pointer;

                &:first-child {
                    background: radial-gradient(circle at 30% 100%,
                            #fed373 4%,
                            #f15245 35%,
                            #d92e7f 60%,
                            #9b36b7 84%,
                            #515ecf);
                }

                &:nth-child(2) {
                    background: $blue;
                }

                &:nth-child(3) {
                    background: $youtube;
                }

                i {
                    border: 1px solid $white;
                    background: none;
                }
            }

            &:nth-child(2) {
                margin: 5px 0;
            }

            i {
                background: $green;
                width: 37px;
                height: 37px;
                border-radius: 50%;
                text-align: center;
                line-height: 36px;
                color: $white;
                margin: 0 25px 0 5px;
            }
        }
    }
}

// 24 Hours Area
#hours {
    background-color: $green;
    color: $white;
    text-align: center;
    padding: 20px 0;

    // opacity: 0.6;
    h3 {
        font-size: 35px;
    }

}

// Join Area
#join {
    display: grid;
    grid-template-columns: repeat(2, 1fr);



    .join-item {

        // Left Side
        &:first-child {
            background: $white;
            color: $dark-grey;
            a{
                color: $dark-grey;
            }
        }

        // Right Side
        &:last-child {
            background: $dark-grey;
            color: $white;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 50px 0;

            .list-items {
                max-width: 400px;
                -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
                -moz-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
                box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.09);
                text-align: center;
                padding: 0 50px;

                li {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
                    width: 100%;
                    text-align: center;
                    font-size: 18px;
                    padding: 18px 0;

                    &:first-child {
                        border-bottom: none;
                        padding: 0;
                    }
                    &:nth-child(2){
                        padding: 0 0 18px 0;
                    }

                    &:last-child {
                        border-bottom: none;
                        margin-top: 20px;

                        .btn-long {
                            padding: 15px 0;
                            border-radius: 50px;
                            display: block;
                            background: $green;
                            color: $white;
                            text-transform: uppercase;
                            font-size: 16px;
                            transition: background 1s cubic-bezier(1, 0.6, 0.4, 0.9);
                                &:hover {
                                    background: $white;
                                    color: $green;
                            }
                        }
                    }
                }

                h3 {
                    text-transform: uppercase;
                    font-size: 25px;
                    // margin-bottom: 20px;
                }

                .per-month {
                    position: relative;

                    span:first-child {
                        font-size: 40px;
                        padding-bottom: 10px;
                        position: absolute;
                        top: 25px;
                        left: 38px;
                        font-weight: 700;
                    }

                    span:nth-child(2) {
                        font-size: 100px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}